@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('partials/_variables.css');

* {
  font-family: 'Roboto', sans-serif;
}

/* Navigation */
.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  font-family: var(--roboto);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: var(--title-color);
}